apiVersion: v1
kind: Secret
metadata:
  name: auth-service-secrets
  namespace: bookings
type: Opaque
data:
  google-client-id: MjA2OTA1NTM0NDY3LTU0aHZudXZobXR0YWgwaTdkNTZzbjVqdnQxN2E4Zm9oLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29t # Base64 закодированный
  google-client-secret: R09DU1BYLUpSQmxjVVlXVnlpNWJZdnU2SkJyZkZ6akF6bjk= # Base64 закодированный
  google-redirect-url: aHR0cDovL2Jvb2tpbmdzLm1lOjgwODEvYXBpL2F1dGgvY2FsbGJhY2s= # Base64 закодированный "http://bookings.me:8081/api/auth/callback"
---
apiVersion: v1
kind: Secret
metadata:
  name: auth-db-credentials
  namespace: bookings
type: Opaque
data:
  username: YWRtaW4= # Base64 закодированный "admin"
  password: YWRtaW4= # Base64 закодированный "admin"